nav {
	width: 100%;
	height: 70px;
}

header {
	background-color: #3ca98b;
	top: 0;
	position: fixed;
	width: 100%;
	display: block;
	z-index: 100;
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Lato', sans-serif;
}

nav a {
	text-decoration-line: none;
	color: white;
}

#tab-container a:hover {
	background-color: white;
	color: #3ca98b;
}

#logo-container {
	margin-top: 3px;
	text-align: center;
	float: left;
	max-width: 230px;
	min-width: 230px;
}

#logo-container h1 {
	font-size: 1.5em;
	font-family: 'Merriweather';
}

#logo-container h2 {
	font-size: 12px;
	font-weight: lighter;
	font-family: sans-serif;
}

#logo-container p {
	font-size: 14px;
	font-family: Helvetica;
	letter-spacing: 2px;
}

#tab-container {
	position: relative;
	left: 20px;
	display: flex;
	height: 70px;
	font-size: 18px;
}

#tab-container a {
	text-align: center;
	min-width: 90px;
	padding: 18px 5px;
}

#jumbotron {
	background-image: url('./img/rumah-1.png');
	background-size: cover;
	height: 600px;
	color: white;
	font-weight: bold;
	margin-top: 70px;
}

#jumbotron:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 600px;
	margin-top: 70px;
	background-color: rgba(60,169,139,0.7);
	width: 100%;
	z-index: 1;

}

.jumbotron-text {
	z-index: 2;
	position: relative;
	top: 10%;
	left: 5%;
	height: 100%;
	width: 100%;
	font-family: Helvectica;
}

.jumbotron-text h1 {
	font-size: 4em;
	font-family: 'Merriweather';
	font-weight: 900;
	color: yellow;
}

.jumbotron-text h3 {
	font-size: 2em;
	font-weight: 200;
}

#papamama {
	font-size: 3em;
	color: white;
	font-family: 'Merriweather';
    /*color: rgb(29, 146, 99); */
    font-weight: 400;
}

.section-wrapper {
	padding: 20px 10px;
}

.section-wrapper h1 {
	font-size: 1.6em;
}

.section-title {
	color: #3ca98b;
	margin-bottom: 20px;
}
.section-title-white {
	color: white;
}

#tenaga-pengajar {
	color: rgb(255,255,255);
	min-height: 400px;
	background-color: #3ca98b;
}

.profil-description {
	margin: 10px 0;
}

/** MEDIA QUERIES  - ALWAYS ON THE LAST PART OF THIS FILE **/

@media only screen and (max-width: 600px) {
	.jumbotron-text  h1 {
		font-size: 3em;
	}

	.jumbotron-text  h3 {
		font-size: 1.5em;
	}

	#papamama {
		font-size: 2em;
	}
}