header h1 {
	color: #4a83cf;
	font-size: 60px;
	letter-spacing: 2px;
	font-family: 'Georgia'
}

body {
	margin-left: 0;
	margin-right: 0;
	font-family: 'Helvetica';
}

#cover-image {
	background-image: url("img/windfarm-ori copy.jpg");
	max-width: 100%;
	height: 600px;
	text-align: center;
}

.center-container {
	position: relative;
	top: 200px;
	height: 50px;
	margin: 0 auto;
	max-width: 700px;
}

.button {
	background-color: #143989;
	color: white;
	font-size: 1em;
	height: 80%;
	margin: 0;
	min-width: 70px;
	width: 100px;
	font-family: 'Helvetica';
	border-radius: 5px;
	transition: 0.15s;
}

.button:hover {
	background-color: #bdc4fc;
	color: #143989;
}

.button:active {
	transform: translateY(1px);
}

#home-search {
	font-style: italic;
	font-size: 1em;
	height: 60%;
	min-width: 200px;
	width: 80%;
	color: #143989;
	border-radius: 5px;
	padding-left: 5px;
}

.section-container {
	margin-top: 30px;
	padding: 0 10px;
}

.section-container > h2 {
	color: #143989;
	font-size: 2em;
}

.news-panel {
	display: flex;
	margin-bottom: 30px;
	height: 100px;
}

.news-icon{
	width: 160px;
}

.news-text h3
{
	margin-top: 0;
	color: #143989;
}

.news-text {
	margin-left: 20px;
	padding: 0;
	font-size: 14px;
}

.link-selanjutnya {
	font-style: italic;
	font-size: 12px;
	color: gray;
	text-decoration: underline;
}

#products {
	margin-top: 50px;
	padding-top: 10px;
	background-color: #4a83cf;
	min-height: 600px;
}

#product-title-container {
	font-weight: lighter;
	font-size: 3em;
	color: white;
	margin: 55px auto 0 auto;
	text-align: center;
}

.product-icon-container {
	display: flex;
}



.product-link {
	background-color: white;
	width: 33.3%;
	border-radius: 20px;
	margin: 0 20px;
	height: 230px;
	padding: 20px 0 10px 0;
	text-align: center;
	vertical-align: center;
	display: flex;
	font-size: 24px;
	text-decoration: none;
	text-transform: capitalize;
	color: #143989;
	transition: 0.25s;
}

.product-item {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	padding-top: 25px;
}

.product-link:hover {
	background-color: #d3daff;
	transform: translateY(2px);
}

.product-item > p {
	margin-top: 30px;
	margin-bottom: 0;
}

.product-img {
	min-width: 30px;
	height: 120px;
	width: 100%;
	margin: 0 auto;
}