html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

* {
	padding: 0;
	margin: 0;
}

nav {
	width: 100%;
	height: 70px;
	background-color: #3ca98b;
	top: 0;
	position: fixed;
	z-index: 3;
}


body {
	font-family: 'Lato', sans-serif;
}

nav a {
	text-decoration-line: none;
	color: white;
}

#logo-container {
	margin-top: 3px;
	text-align: center;
	float: left;
	max-width: 230px;
	min-width: 230px;
}

#logo-container h1 {
	font-size: 1.5em;
	font-family: 'Merriweather';
}

#logo-container h2 {
	font-size: 12px;
	font-weight: lighter;
	font-family: sans-serif;
}

#logo-container p {
	font-size: 14px;
	font-family: Helvetica;
	letter-spacing: 2px;
}


.naVmenu {
	display: flex;
	width: 100%;
}

.menu-icon-container {
	float: right;
	display: none;
	min-height: inherit;
	min-width: 50px;
	top: 10px;
	padding: 10px 0;
	text-align: center;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

#tab-container {
	min-height: 70px;
	font-size: 18px;
	background-color: #3ca98b;
	z-index: 3;
}


#tab-container a {
	text-align: center;
	min-width: 90px;
	padding: 18px 5px;
}

#tab-container a:hover {
	background-color: white;
	color: #3ca98b;
}

#jumbotron {
	height: 650px;
	color: white;
	font-weight: bold;
	position: relative;
	background-color: rgba(60,169,139,0.85);
}

#jumbotron:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-image: url('./img/rumah-1.png');
	background-size: cover;
	width: 100%;
	z-index: -1;

}

.jumbotron-text {
	z-index: 2;
	position: relative;
	top: 10%;
	left: 5%;
	height: 100%;
	width: 100%;
	font-family: Helvectica;
}

.jumbotron-text h1 {
	font-size: 4em;
	font-family: 'Merriweather';
	font-weight: 900;
	color: yellow;
	margin-top: 25px;
}

.jumbotron-text h3 {
	font-size: 2em;
	font-weight: 200;
}

#papamama {
	font-size: 3em;
	color: white;
	font-family: 'Merriweather';
    font-weight: 400;
}

.main-section {
	padding-top: 50px;
}

.section-wrapper {
	padding: 30px 20px 30px 50px;
}

.section-wrapper h1 {
	font-size: 2em;
}

.section-title {
	color: #3ca98b;
	margin-bottom: 20px;
}
.section-title-white {
	color: white;
}

.profil-description {
	margin: 10px 0;
	line-height: 1.5;
}

.program-item {
	margin-bottom: 30px;
	max-width: 600px;
}

.program-item h2 {
	margin-bottom: 20px;
}


#tenaga-pengajar {
	color: white;
	min-height: 400px;
	background-color: #3ca98b;
}

.main-content {
	display: inline-block;
	margin-top: 50px;
}

.main-guru {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin: 0 30px 30px 30px;
}

.guru-icon {
	width: 100%;
	height: 100%;
	max-height: 128px;
	max-width: 128px;
	min-height: 128px;
	margin-bottom: 20px;
	display: flex;
}


.man-icon {
	background-image: url('./img/man-128-gray.png');
}

.man-icon:hover {
	background-image: url('./img/man-128.png');

}

.lady-icon {
	background-image: url('./img/hijab-128-gray.png');
}

.lady-icon:hover {
	background-image: url('./img/hijab-128.png');
}

.kontak-wrapper {
	display: flex;
}

.kontak-wrapper-item > iframe {
	margin-left: 50px;
}

.telepon {
	display: inline-flex;
	margin-top: 20px;
	justify-content: center;
}

.telepon img {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}

.telepon p {
	margin-top: 7px;
}


.footer {
	background-color: #3ca98b;
	color: white;
	padding: 30px 30px 30px 30px;
	text-align: center;
	font-weight: bold;
}

.license {
	font-size: 10px;
	margin-top: 20px;
}

/** MEDIA QUERIES  - ALWAYS ON THE LAST PART OF THIS FILE **/

@media only screen and (max-width: 600px) {
	.jumbotron-text  h1 {
		font-size: 3em;
	}

	.jumbotron-text  h3 {
		font-size: 1.5em;
	}

	#papamama {
		font-size: 2.6em;
	}

	.menu-icon-container {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 5px;
    	text-align: -webkit-center;
	}

	.navMenu {
		display: none;
		width: 100%;
	}

	.navMenu.responsive {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.navMenu a {
		display: block;
	}

	.navMenu.responsive .menu-icon-container {
		top: 10px;
		right: 10px;
	}
}

@media only screen and (min-width: 600px)
{
	.profil-description {
		max-width: 700px;
	}

}